# Welcome to Jupyter!

This repo contains an introduction to [Jupyter](https://jupyter.org) and [IPython](https://ipython.org).

Outline of some basics:

* [Notebook Basics](../examples/Notebook/Notebook Basics.ipynb)
* [IPython - beyond plain python](../examples/IPython Kernel/Beyond Plain Python.ipynb)
* [Markdown Cells](../examples/Notebook/Working With Markdown Cells.ipynb)
* [Rich Display System](../examples/IPython Kernel/Rich Output.ipynb)
* [Custom Display logic](../examples/IPython%20Kernel/Custom%20Display%20Logic.ipynb)
* [Running a Secure Public Notebook Server](../examples/Notebook/Running%20the%20Notebook%20Server.ipynb#Securing-the-notebook-server)
* [How Jupyter works](../examples/Notebook/Multiple%20Languages%2C%20Frontends.ipynb) to run code in different languages.

You can also get this tutorial and run it on your laptop:

    git clone https://github.com/ipython/ipython-in-depth

Install IPython and Jupyter:

with [conda](https://www.anaconda.com/download):

    conda install ipython jupyter

with pip:

    # first, always upgrade pip!
    pip install --upgrade pip
    pip install --upgrade ipython jupyter

Start the notebook in the tutorial directory:

    cd ipython-in-depth
    jupyter notebook

In [80]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

One way to get a dataframe with date today and going back say a year. You can have default index or set the date column to be the index

In [81]:
date_today = datetime.now()
ndays = 365
df = pd.DataFrame({'id'  : range(365),
                   'date': [date_today - timedelta(days=x) for x in range(ndays)], 
                   'value': pd.Series(np.random.randn(ndays))})
#df = df.set_index('date')

In [82]:
idx=np.random.randint(365, size=120);idx[0:10]

array([163,  13, 248, 199, 174, 335, 317, 343,  12, 265])

In [83]:
idx.sort
df.at[idx, 'value'] = 0

In [84]:
#date_index = pd.date_range('1/1/2018', periods=31, freq='D')
date_index = pd.date_range(start='1/1/2018', end='1/31/2018', freq='2D')
df2 = pd.DataFrame({"prices": np.random.randint(100,size=16)}, index=date_index)

In [85]:
df2.index

DatetimeIndex(['2018-01-01', '2018-01-03', '2018-01-05', '2018-01-07',
               '2018-01-09', '2018-01-11', '2018-01-13', '2018-01-15',
               '2018-01-17', '2018-01-19', '2018-01-21', '2018-01-23',
               '2018-01-25', '2018-01-27', '2018-01-29', '2018-01-31'],
              dtype='datetime64[ns]', freq='2D')

In [86]:
new_date_index = pd.date_range(start='1/1/2018', end='1/31/2018', freq='D')

In [87]:
new_date_index

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12',
               '2018-01-13', '2018-01-14', '2018-01-15', '2018-01-16',
               '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-20',
               '2018-01-21', '2018-01-22', '2018-01-23', '2018-01-24',
               '2018-01-25', '2018-01-26', '2018-01-27', '2018-01-28',
               '2018-01-29', '2018-01-30', '2018-01-31'],
              dtype='datetime64[ns]', freq='D')

In [88]:
df2.head(5)

            prices
2018-01-01       5
2018-01-03      36
2018-01-05      95
2018-01-07      71
2018-01-09      43

A new object is produced..You can try mucking around with copy=False default copy=True

In [90]:
df3 = df2.reindex(new_date_index, method='nearest')
#df2.reindex(new_date_index, method='nearest',copy=False)

In [91]:
len(df2), len(df3)

(16, 31)

In [93]:
df2.head(5), df3.head(5)

(            prices
 2018-01-01       5
 2018-01-03      36
 2018-01-05      95
 2018-01-07      71
 2018-01-09      43,             prices
 2018-01-01       5
 2018-01-02      36
 2018-01-03      36
 2018-01-04      95
 2018-01-05      95)