# Welcome to Jupyter!

This repo contains an introduction to [Jupyter](https://jupyter.org) and [IPython](https://ipython.org).

Outline of some basics:

* [Notebook Basics](../examples/Notebook/Notebook Basics.ipynb)
* [IPython - beyond plain python](../examples/IPython Kernel/Beyond Plain Python.ipynb)
* [Markdown Cells](../examples/Notebook/Working With Markdown Cells.ipynb)
* [Rich Display System](../examples/IPython Kernel/Rich Output.ipynb)
* [Custom Display logic](../examples/IPython%20Kernel/Custom%20Display%20Logic.ipynb)
* [Running a Secure Public Notebook Server](../examples/Notebook/Running%20the%20Notebook%20Server.ipynb#Securing-the-notebook-server)
* [How Jupyter works](../examples/Notebook/Multiple%20Languages%2C%20Frontends.ipynb) to run code in different languages.

You can also get this tutorial and run it on your laptop:

    git clone https://github.com/ipython/ipython-in-depth

Install IPython and Jupyter:

with [conda](https://www.anaconda.com/download):

    conda install ipython jupyter

with pip:

    # first, always upgrade pip!
    pip install --upgrade pip
    pip install --upgrade ipython jupyter

Start the notebook in the tutorial directory:

    cd ipython-in-depth
    jupyter notebook

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

One way to get a dataframe with date today and going back say a year. You can have default index or set the date column to be the index

In [ ]:
date_today = datetime.now()
ndays = 365
df = pd.DataFrame({'id'  : range(365),
                   'date': [date_today - timedelta(days=x) for x in range(ndays)], 
                   'value': pd.Series(np.random.randn(ndays))})
#df = df.set_index('date')

In [ ]:
idx=np.random.randint(365, size=120);idx[0:10]

In [ ]:
idx.sort
df.at[idx, 'value'] = 0

In [ ]:
#date_index = pd.date_range('1/1/2018', periods=31, freq='D')
date_index = pd.date_range(start='1/1/2018', end='1/31/2018', freq='2D')
df2 = pd.DataFrame({"prices": np.random.randint(100,size=16)}, index=date_index)

In [ ]:
df2.index

In [25]:
new_date_index = pd.date_range(start='1/1/2018', end='1/31/2018', freq='D')

In [28]:
df2.head(5)

            prices
2018-01-01      47
2018-01-03      92
2018-01-05      99
2018-01-07      78
2018-01-09       0

In [29]:
df2.reindex(new_date_index, method='nearest')[0:3]

            prices
2018-01-01      47
2018-01-02      92
2018-01-03      92